*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #a9c7e0;

}

/* Navigation Bar */
nav{
    width: 100%;
    height: 110px;
    background-color: rgba(71, 71,186,0.804);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;
}

i{
    background-color: rgba(222, 204,70);
    color: #fff;
    padding: 9px;
    margin-left:-30px ;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px;
}
.cart img{
    padding-left: 10px;
}
.cart img:hover{
    cursor: pointer;
}

/* Home */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0px;
    justify-content: space-evenly;
}

.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}

.categories h2{
    background-color: rgba(71, 71,186,0.804);
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.categories li{
    list-style: none;
    padding: 8px 0px;
    padding-left: 20px;
}
.categories li a{
   text-decoration: none;
   color: black;
}
.background-image{
    background: url(./images/back-img2.jpg)no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.background-image h2{
    text-align: center;
    font-size: 28px;
}
.background-image img{
    width: 350px;
    height: 250px;
}

/* Mobiles */
#mob-heading{
     margin-top: 60px;
     margin-bottom: 10px;
     padding: 10px 20px;
}
.Mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;
}

.Mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #bfd2df;
    background-color: #fafafa;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0px;
}
.Mobiles div img{
    width: 140px;
    height: 140px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
}
.Mobiles span p{
    padding: 3px;
    font-size: small;
}
.Mobiles span p:first-child{
    font-weight: bold;
}


/* laptop */
#laptop-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;

}
.laptops div{
    align-items: center;
    background-color: #c8e6f6;
    border: 1px solid #c8e6f6;
    text-align: center;
}
.laptops div img{
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}
.notify{
    background-color: #00000078;
    color: #fff;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.notify p{
    padding-top: 10px;
    font-size: small;
}
.notify h4{
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Watches-heading */
#Watches-heading{
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.smart-watches{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.smart-watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #91b5d3;
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 50px;
    box-shadow: rgba(0,0,0, 0.43) 0px 5px 10px;
}
.smart-watches div img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    
}
.smart-watches div p{
    font-weight: bold;
    font-size: 18px;
    color: #074a81  ;
}


/* media query for small screen */
@media(max-width:1000px){
    nav{
        height: 80px;
    }
    #logo{
        width: 70px;
        height: 70px;
    }
  
    input{
        width: 250px;
        height: 30px;
    }
    
    i{
        margin-left:-20px ;
        padding: 7px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px;
    }
    .cart img{
        padding-left: 7px;
    }    

    /* home */
    .categories h2{
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .categories li{
        padding: 6px 0px;
    }
    .background-image h2{
        font-size: 18px;
    }
    .background-image img{
        width: 60%;
    }

    
/* Mobiles */
#mob-heading{
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.Mobiles{
   display: grid;
   grid-template-columns: 30% 30% 30%;
   justify-content: space-around;
}

.Mobiles div{
   margin: 10px 0px;
   height: 90%;
   border: 1px solid #fafafa;
}
.Mobiles div img{
   width: 90%;
   height: 90%;
   border-radius: 5px;
   margin: 10px;
   background-color: transparent;
}
.Mobiles span p{
   font-size: medium;
}


/* laptop */
.laptops{
    display: grid;
    grid-template-columns: 40% 40% ;
    justify-content: space-around;

}
.laptops div{
   margin-bottom:10px ;
}
.laptops div img{
    height: 170px;
    width: 180px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 5px;
    background-color: transparent;
}

/*smart Watches */
.smart-watches{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-around;
}
.smart-watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #91b5d3;
    width: 100%;
    height: 95%;
    padding: 10px 10px;
}
.smart-watches div img{
    width: 160px;
    height: 190px;
    
}
.smart-watches p{
  text-align: center;
    font-size: 18px;
}



}

/* media query for mobile screen */
@media(max-width:400px){

    nav{
        width: 100%;
        height: 60px;
        box-sizing: border-box;
    }
    #logo{
        width: 40px;
        height: 40px;
    }
  
    input{
        width: 170px;
        height: 25px;
    }
    
    i{
        background-color: transparent;
        color: #000;
        padding-top: 2px;
        margin-left:-28px ;
    }
    .cart{
        padding: 0px 15px;
        width: 15px;
        height: 15px;
    }
    .cart img{
        padding-left: 05px;
    }

    /* home */
    .home{
        margin: 20px 0px; 
    }
    .categories{
        padding: 5px;
        height: 70px;
    }
    .categories h2{
        font-size: 7px;
        padding: 2px;
        padding-top: 2px;
    }
    .categories li{
        padding: 2px 0px;
        font-size: 1vh;
    }
    .background-image h2{
        font-size: 10px;
    }
    .background-image img{
        width: 40%;
        height: 60px;
    }

    /* Mobiles */
    #mob-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0px 20px;
        font-size: 2.5vh;
        box-sizing: border-box;
    }
    .Mobiles{
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    }
    
    /* laptop */
    #laptop-heading{
        margin-top: 30px;
        margin-bottom:0px ;
        padding: 20px 20px;
        font-size: 2.5vh;
    }
    .laptops{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;
    }
    .laptops .notify{
        width: 80px;
        height: 20px;
    }
    .laptops .notify p{
        padding-top: 3px;
        font-size: 2vh;
    }
    .laptops h4{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;

    }

    /*smart Watches */
    #Watches-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px 20px;
        font-size: 2.5vh;
    }
    .smart-watches{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;
    }
    .smart-watches div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 250px;
        padding: 0px 10px;
        margin-bottom:10px;

    }
    .smart-watches div img{
        width: 150px;
        height: 150px;
        
    }
    .smart-watches p{
        font-size: 2vh;
    }
}



