*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #a9c7e0;
    box-sizing: border-box;
}

/* Navigation Bar */
nav{
    width: 100vw;
    height: 110px;
    background-color: rgba(71, 71,186,0.804);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;
}

i{
    background-color: rgba(222, 204,70);
    color: #fff;
    padding: 9px;
    margin-left:-30px ;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px;
}
.cart img{
    padding-left: 10px;
}

/* Home */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0px;
    justify-content: space-evenly;
}

.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}

.categories h2{
    background-color: rgba(71, 71,186,0.804);
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.categories li{
    list-style: none;
    padding: 8px 0px;
    padding-left: 20px;
}
.categories li a{
   text-decoration: none;
   color: black;
}



/* media query for small screen */
@media(max-width:1000px){
    nav{
        height: 80px;
    }
    #logo{
        width: 70px;
        height: 70px;
    }
  
    input{
        width: 250px;
        height: 30px;
    }
    
    i{
        margin-left:-20px ;
        padding: 7px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px;
    }
    .cart img{
        padding-left: 7px;
    }    

    /* home */
    .categories h2{
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .categories li{
        padding: 6px 0px;
    }
    
}

/* media query for mobile screen */
@media(max-width:400px){

    nav{
        height: 60px;
        box-sizing: border-box;
    }
    #logo{
        width: 40px;
        height: 40px;
    }
  
    input{
        width: 170px;
        height: 25px;
    }
    
    i{
        background-color: transparent;
        color: #000;
        padding-top: 2px;
        margin-left:-28px ;
    }
    .cart{
        padding: 0px 15px;
        width: 15px;
        height: 15px;
    }
    .cart img{
        padding-left: 05px;
    }

    /* home */
    .home{
        margin: 20px 0px; 
    }
    .categories{
        padding: 5px;
        height: 70px;
    }
    .categories h2{
        font-size: 7px;
        padding: 2px;
        padding-top: 2px;
    }
    .categories li{
        padding: 2px 0px;
        font-size: 1vh;
    }
}



